.hero {
  padding-top: 230px;
}

.hero .container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.hero .text h1 {
  font-size: clamp(1.8rem, 5vw, 3.5rem);
  color: var(--white);
  line-height: 1.6;
  margin: auto;
  width: 70%;
}


.hero .text h1 span {
  color: var(--blue);
  text-shadow: 0px 1px 20px rgba(0, 120, 255, 0.4);
}

.hero .text .btn {
  padding-top: 3rem;
}

.hero .text .btn a {
  background: var(--navbar);
  color: var(--white);
  border: 2px solid var(--border);
  padding: 15px 60px;
  font-weight: 800;
  border-radius: 10px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: .2s;
}

.hero .text .btn a:hover {
  background: var(--yellow);
  color: #999;
}

@media (max-width: 768px) {
  .hero .text h1 {
    width: 90%;
  }
}
