.about .container {
  display: flex;
  padding-block: 150px;
}

.about .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  gap: 20px;
}

.about .box img {
  width: 400px;
  border-radius: 20px;
  border: 2px solid var(--border);
  background-color: var(--navbar);
}

.about .box .text {
  line-height: 2.1rem;
}

.about .box .text h1 {
  color: var(--white);
  font-size: 35px;
  padding: 10px;
}

.about .box .text p {
  color: var(--p);
  font-size: 18px;
  padding: 10px;
}
